@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.orange{
    color: #FF900E;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
    
}


.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    vertical-align: middle;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.banner-img{

    width: 100%;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;

}



.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
}





.feature-desc{
    margin-bottom: 24px;
}

#quick-list{
    font-weight: 500;
}



.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 7px;
}

.fact-name{
    font-weight: 600;
    font-size: 1.1rem;
    color: #727272;
}

.fact-img{
    margin-top: 45px;

}

.fact-desc{
    max-width: 540px;
    margin-bottom: 100px;
    color: #727272;
}

.fact-title{
    margin-bottom: 24px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .fact-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .fact-container, .sponsor-companies{
        justify-content: center;
        align-items: center;
        gap: 24px;
    }


    .our-features{
        margin-left: 30px;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies, .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
    }
}